In [1]:
# Import libraries, dependencies
import pandas as pd
import numpy as np
import requests
import json

# Other imports
from config import geoapify_key

In [ ]:
#Place the healthcare facility results into a DF(Kelsy). work is in the den_healthcare_1 and den_healthcare_2 files

In [33]:
# Import our healthcare data into pandas from CSV (delete this cell when healthcare info code above is complete to directly create this df)
file_path = 'Resources/denver_healthcare_data.csv'
denver_h_df = pd.read_csv(file_path, low_memory=False)

len(denver_h_df)

930

In [44]:
h_counts = denver_h_df['Zipcode'].value_counts()
h_counts = h_counts.reset_index()
h_counts = pd.DataFrame(h_counts)
h_counts = h_counts.rename(columns={'Zipcode':'Zip Code', 'count':'Number of Facilities'})
h_counts['Zip Code'] = h_counts['Zip Code'].astype('int64')
h_counts

    Zip Code  Number of Facilities
0      80015                    43
1      80218                    42
2      80211                    42
3      80016                    37
4      80012                    35
..       ...                   ...
90     80437                     1
91     80024                     1
92     80125                     1
93     80640                     1
94     80403                     1

[95 rows x 2 columns]

In [45]:
#Get population, median age, per capita income, of each zip code and add to data frame with healthcare facility info (Lisa)
#from https://data.colorado.gov/ (Lisa)

url_pop = 'https://data.colorado.gov/resource/ucnv-vw74.json?'
for index, row in h_counts.iterrows():
    #create the parameters, full url for the API call
    params_pop = {'zip_code': h_counts.loc[index, "Zip Code"],
              }
    response_pop = requests.get(url_pop, params=params_pop)
    response_pop = response_pop.json()

    # Store the zip's population, per capita income and median age in the denver_df DataFrame
    try:
        h_counts.loc[index, "Population"] = response_pop[0]["pop"]
        
    except (KeyError, IndexError):
        h_counts.loc[index, "Population"] = np.nan
    try:
        h_counts.loc[index, "Per Capita Income"] = response_pop[0]['per_cap_in']
    except (KeyError, IndexError):
        h_counts.loc[index, "Per Capita Income"] = np.nan
    try: 
        h_counts.loc[index, 'Median Age'] = response_pop[0]['med_age']
    except (KeyError, IndexError):
        h_counts.loc[index, "Median Age"] = np.nan
h_counts

    Zip Code  Number of Facilities Population Per Capita Income Median Age
0      80015                    43      70215             41860       37.6
1      80218                    42      18915             71825       34.9
2      80211                    42      36061             59034         34
3      80016                    37      58948             55122       38.5
4      80012                    35      53862             26477       32.8
..       ...                   ...        ...               ...        ...
90     80437                     1        NaN               NaN        NaN
91     80024                     1        209             12189       36.1
92     80125                     1      10832             56162       41.1
93     80640                     1      12850             32546       35.3
94     80403                     1      20302             60957       42.5

[95 rows x 5 columns]

In [47]:
h_counts = h_counts.dropna()
h_counts.to_csv('resources/combined_data.csv')

In [ ]:
# Lisa
# Question 1: are healthcare facilities more dense where the population is dense? In other words: 
# Is there a correlation between pop of zip code and  number of facilities in the zip code?
# plot #of healthcare facilities per zip code against population per zip code (double bars with zip as x axis)


# TODO: scatter plot and linear regression of facility count vs population

In [ ]:
# Liz

# Question 2: Is there a correlation of per capita income with # of healthcare facilities by zip code in Denver?
# TODO: plot #of healthcare facilities per zip code against per cap income
# TODO: scatter plot and lin reg of  zip code against per cap income

In [ ]:
# Kelsey
# Question 3: Is there a correlation of median age with # of healthcare facilities by zip code in Denver?
# TODO: plot #of healthcare facilities per zip code against median age
# TODO: scatter plot and lin reg of  zip code against median age

In [ ]:
# Bonus
# Quesion 4: What percentage of facilities are wheelchair accessible and what percentage by subcategory?
#TODO: count # and find % of facilities with wheelchair access
#TODO: If not very close to 100%, plot types of facility against wheelchair access(bar)
#TODO: map with color of facility dot by wheelchair access

In [ ]:
#TODO: written analysis (Liz first draft)

#TODO: prepare slides for presentation (Liz first draft)

#TODO: practice presentation(or at least be clear on respective roles)